{% block cars %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/style.css" />
        <link rel="icon" href="{{ baseUrl }}/favicon.ico">
        <title>Cars</title>
    </head>
    <body>

    <h1>Cars</h1>

    <table border="1px">
        <tr>
            <td><h3>Registration</h3></td>
            <td><h3>Make</h3></td>
            <td><h3>Model</h3></td>
            <td><h3>Color</h3></td>
            <td><h3>Year</h3></td>
            <td><h3>Cost</h3></td>
            <td><h3>Rented By</h3></td>
            <td><h3>Rent Start Time</h3></td>
        </tr>

        {% for car in cars %}
        <tr>
            <td>{{ car.reg }}</td>
            <td>{{ car.make }}</td>
            <td> {{ car.model }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.cost }}</td>

            {% if not car.rentStart %}
                <td colspan="2">Available</td>

                <td colspan="1">
                    <form action="/editCar/{{ car.reg }}/{{ car.year }}/{{ car.cost }}/{{ car.make }}/{{ car.model }}/{{ car.color }}" method="post">
                        <input type="submit" style="width:100%" value="Edit">
                    </form>
                </td>
                <td colspan="1">
                    <form action="/removeCar/{{ car.reg }}/{{ car.make }}" method="post">
                        <input type="submit" style="width:100%" value="Remove">
                    </form>
                </td>
            {% else %}
                <td>{{ car.renter }}</td>
                <td>{{ car.rentStart }}</td>

                <td colspan="1">
                    <form action="/editCar" method="post">
                        <input type="submit" style="width:100%" value="Edit" DISABLED>
                    </form>
                </td>
                <td colspan="1">
                    <form action="/removeCar" method="post">
                        <input type="submit" style="width:100%" value="Remove" DISABLED>
                    </form>
                </td>
            {% endif %}


            {% endfor %}

            {# Menu Buttons #}
        <tr>
            <td colspan="100%">
                <form action="/addCar" method="post">
                    <input type="submit" style="width:100%" value="Add Car">
                </form>
            </td>
        </tr>
        
        <tr>
            <td colspan="100%">
                <form action="/" method="post">
                    <input type="submit" style="width:100%" value="Main Menu">
                </form>
            </td>
        </tr>
    </table>


    </body>
    </html>
{% endblock %}