{% block cars %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Car rental Customers</title>
    </head>
    <body>

    <table border>
        <tr>
            <td colspan="100%"><h1>Cars</h1></td>
        </tr>
        {#
                <tr><td colspan="1">
                        <form action="/getCustomers" method="post">
                            <input type="submit" style="width:100%" value="Customers">
                        </form>
                    </td></tr>
                #}
        <tr>
            <td colspan=""><strong>Registration</strong></td>
            <td colspan=""><strong>Make</strong></td>
            <td colspan=""><strong>Model</strong></td>
            <td colspan=""><strong>Color</strong></td>
            <td colspan=""><strong>Year</strong></td>
            <td colspan=""><strong>Cost</strong></td>
            <td colspan=""><strong>Rented By</strong></td>
            <td colspan=""><strong>Rent Start Time</strong></td>


        </tr>

        {% for car in cars %}
        <tr>
            <td colspan="">{{ car.reg }}</td>
            <td colspan="">{{ car.make }}</td>
            <td colspan=""> {{ car.model }}</td>
            <td colspan="">{{ car.color }}</td>
            <td colspan="">{{ car.year }}</td>
            <td colspan="">{{ car.cost }}</td>

            {% if not car.rentStartTime %}
                <td colspan="2">Available</td>

                <td colspan="1">
                    <form action="/editCar" method="post">
                        <input type="submit" style="width:100%" value="Edit">
                    </form>
                </td>
                <td colspan="1">
                    <form action="/removeCar" method="post">
                        <input type="submit" style="width:100%" value="Remove">
                    </form>
                </td>
            {% else %}
                <td colspan="">{{ car.renter}}</td>
                <td colspan="">{{ car.rentStartTime }}</td>

                <td colspan="1">
                    <form action="/editCar" method="post">
                        <input type="submit" style="width:100%" value="Edit" DISABLED>
                    </form>
                </td>
                <td colspan="1">
                    <form action="/removeCar" method="post">
                        <input type="submit" style="width:100%" value="Remove" DISABLED>
                    </form>
                </td>
            {% endif %}


            {#
                    <td>
                      <form method="post" action="/editCustomer/{{customer.customerNumber}}/{{customer.customerName}}">
                        <input type="submit" style="width:100%" value="Edit">
                      </form>
                    </td>

                    <td>
                      <form method="post" action="/removeCustomer/{{customer.customerNumber}}/{{customer.customerName}}"
                            onsubmit="return confirm('Are you sure you want to remove customer {{customer.customerName}}?')">
                        <input type="submit" style="width:100%" value="Remove">
                      </form>
                    </td>

                    <td colspan="3">
                      <form method="post" action="/addAccount/{{customer.customerNumber}}/{{customer.customerName}}">
                        <input type="submit" style="width:100%" value="Add Account">
                      </form>
                    </td>
                  </tr>

                  {% for account in customer.accounts %}
                    <tr>
                      <td></td>
                      <td>{{account["accountNumber"]}}</td>
                      <td>{{account["accountBalance"]}}</td>

                      <!--<td>{{account.accountNumber}}</td>
                      <td>{{account.accountBalance}}</td>-->

                      <td class="column">
                        <form method="post" action="/deposit/{{customer.customerNumber}}/{{customer.customerName}}/{{account.accountNumber}}">
                          <input type="submit" style="width:100%" value="Deposit">
                        </form>
                      </td>

                      <td class="column">
                        <form method="post" action="/withdraw/{{customer.customerNumber}}/{{customer.customerName}}/{{account.accountNumber}}">
                          <input type="submit" style="width:100%" value="Withdraw">
                        </form>
                      </td>

                      <td class="column">
                        <form method="post" action="/transfer/{{customer.customerNumber}}/{{customer.customerName}}/{{account.accountNumber}}">
                          <input type="submit" style="width:100%" value="Transfer">
                        </form>
                      </td>

                      <td class="column">
                        <form method="post" action="/viewAccount/{{customer.customerNumber}}/{{customer.customerName}}/{{account.accountNumber}}">
                          <input type="submit" style="width:100%" value="View">
                        </form>
                      </td>

                      <td class="column">
                        <form method="post" action="/removeAccount/{{customer.customerNumber}}/{{customer.customerName}}/{{account.accountNumber}}"
                            onsubmit="return confirm('Are you sure you want to remove account {{account.accountNumber}}?')">
                          <input type="submit" style="width:100%" value="Remove">
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                  #}
            {% endfor %}

            {# Menu Buttons #}
        <tr>
            <td colspan="100%">
                <form action="/addCar" method="post">
                    <input type="submit" style="width:100%" value="Add Car">
                </form>
            </td>
        </tr>
        
        <tr>
            <td colspan="100%">
                <form action="/" method="post">
                    <input type="submit" style="width:100%" value="Main Menu">
                </form>
            </td>
        </tr>
    </table>


    </body>
    </html>
{% endblock %}