{% block customers %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/style.css" />
        <link rel="icon" href="{{ baseUrl }}/favicon.ico">
        <title>Customers</title>
    </head>
    <body>

    <table border="1px" width="100%">
        <tr>
            <td colspan="100%"><h1>Customers</h1></td>
        </tr>

        <tr>
            <td style="padding: .5em 0" colspan=""><strong>Social Security Number</strong></td>
            <td colspan=""><strong>Name</strong></td>
            <td colspan=""><strong>Address</strong></td>
            <td colspan=""><strong>Postal</strong></td>
            <td colspan=""><strong>Phone Number</strong></td>

        </tr>

        {% for customer in customers %}
        <tr>
            <td colspan="">{{ customer.SSN }}</td>
            <td colspan="">{{ customer.customerName|raw }}</td>
            <td colspan="">{{ customer.address }}</td>
            <td colspan="">{{ customer.postalAddress }}</td>
            <td colspan="">{{ customer.phoneNumber }}</td>

            {% if not customer.renter %}
            <td colspan="1">
                <form action="/editCustomer/{{customer.SSN}}/{{customer.customerName|raw}}/{{customer.address}}/{{customer.postalAddress}}/{{customer.phoneNumber}}" method="post">
                    <input type="submit" style="width:100%; padding: .5em 2em" value="Edit">
                </form>
            </td>
            <td colspan="1">
                <form action="/removeCustomer/{{customer.SSN}}/{{customer.customerName|raw}}" method="post"
                      onsubmit="return confirm('Are you sure you want to remove customer {{customer.customerName}}?')">
                    <input type="submit" style="width:100%; padding: .5em 1em" value="Remove">
                </form>
            </td>
            {% else %}
                <td colspan="2">
                    <form>
                        <input type="submit" style="width:100%; padding: .5em 1em" value="Renting a car" DISABLED>
                    </form>
                </td>

            {% endif %}
        {% endfor %}

            {# Menu Buttons #}
        <tr>
            <td colspan="100%">
                <form action="/addCustomer" method="post">
                    <input type="submit" style="width:100%" value="Add Customer">
                </form>
            </td>
        </tr>

        <tr>
            <td colspan="100%">
                <form action="/" method="post">
                    <input type="submit" style="width:100%" value="Main Menu">
                </form>
            </td>
        </tr>
    </table>


    </body>
    </html>
{% endblock %}
