{% block customers %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Car rental Customers</title>
    </head>
    <body>

    <table border>
        <tr>
            <td colspan="100%"><h1>Customers</h1></td>
        </tr>
        {#
                <tr><td colspan="1">
                        <form action="/getCustomers" method="post">
                            <input type="submit" style="width:100%" value="Customers">
                        </form>
                    </td></tr>
                #}
        <tr>
            <td colspan=""><strong>Social Security Number</strong></td>
            <td colspan=""><strong>Name</strong></td>
            <td colspan=""><strong>Address</strong></td>
            <td colspan=""><strong>Postal</strong></td>
            <td colspan=""><strong>Phone Number</strong></td>

        </tr>

        {% for customer in customers %}
        <tr>
            <td colspan="">{{ customer.SSN }}</td>
            <td colspan="">{{ customer.customerName|raw }}</td>
            <td colspan="">{{ customer.address }}</td>
            <td colspan="">{{ customer.postalAddress }}</td>
            <td colspan="">{{ customer.phoneNumber }}</td>

            <td colspan="1">
                <form action="/editCustomer" method="post">
                    <input type="submit" style="width:100%" value="Edit">
                </form>
            </td>
            <td colspan="1">
                <form action="/removeCustomer" method="post">
                    <input type="submit" style="width:100%" value="Remove">
                </form>
            </td>
            {#
                    <td>
                      <form method="post" action="/editCustomer/{{customer.customerNumber}}/{{customer.customerName}}">
                        <input type="submit" style="width:100%" value="Edit">
                      </form>
                    </td>

                    <td>
                      <form method="post" action="/removeCustomer/{{customer.customerNumber}}/{{customer.customerName}}"
                            onsubmit="return confirm('Are you sure you want to remove customer {{customer.customerName}}?')">
                        <input type="submit" style="width:100%" value="Remove">
                      </form>
                    </td>

                    <td colspan="3">
                      <form method="post" action="/addAccount/{{customer.customerNumber}}/{{customer.customerName}}">
                        <input type="submit" style="width:100%" value="Add Account">
                      </form>
                    </td>
                  </tr>

                  {% for account in customer.accounts %}
                    <tr>
                      <td></td>
                      <td>{{account["accountNumber"]}}</td>
                      <td>{{account["accountBalance"]}}</td>

                      <!--<td>{{account.accountNumber}}</td>
                      <td>{{account.accountBalance}}</td>-->

                      <td class="column">
                        <form method="post" action="/deposit/{{customer.customerNumber}}/{{customer.customerName}}/{{account.accountNumber}}">
                          <input type="submit" style="width:100%" value="Deposit">
                        </form>
                      </td>

                      <td class="column">
                        <form method="post" action="/withdraw/{{customer.customerNumber}}/{{customer.customerName}}/{{account.accountNumber}}">
                          <input type="submit" style="width:100%" value="Withdraw">
                        </form>
                      </td>

                      <td class="column">
                        <form method="post" action="/transfer/{{customer.customerNumber}}/{{customer.customerName}}/{{account.accountNumber}}">
                          <input type="submit" style="width:100%" value="Transfer">
                        </form>
                      </td>

                      <td class="column">
                        <form method="post" action="/viewAccount/{{customer.customerNumber}}/{{customer.customerName}}/{{account.accountNumber}}">
                          <input type="submit" style="width:100%" value="View">
                        </form>
                      </td>

                      <td class="column">
                        <form method="post" action="/removeAccount/{{customer.customerNumber}}/{{customer.customerName}}/{{account.accountNumber}}"
                            onsubmit="return confirm('Are you sure you want to remove account {{account.accountNumber}}?')">
                          <input type="submit" style="width:100%" value="Remove">
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                  #}
            {% endfor %}

            {# Menu Buttons #}
        <tr>
            <td colspan="100%">
                <form action="/addCustomer" method="post">
                    <input type="submit" style="width:100%" value="Add Customer">
                </form>
            </td>
        </tr>

        <tr>
            <td colspan="100%">
                <form action="/" method="post">
                    <input type="submit" style="width:100%" value="Main Menu">
                </form>
            </td>
        </tr>
    </table>


    </body>
    </html>
{% endblock %}