{% block rentCar %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../../css/style.css"/>
        <title>Edit Car</title>
    </head>
    <body>

    <h1>Rent Car</h1>

    <form method="post" action="/carRented"
          onsubmit="return confirm('Let Customer: {{ customer }} rent car: reg:{{ registration }}  car:{{ car }}?')">
        <table>
            <tr>
                <td>Customer:</td>
                <td>
                    <select name="SSN" type="text" required style="width: 100%">
                        <option value="{{ SSN }}" disabled selected hidden>-- Select Customer --</option>
                        {% for customer in customerList %}
                            <option value="{{ customer.SSN }}">{{ customer.SSN }} {{ customer.customerName|raw }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td>Car:</td>
                <td>
                    <select name="registration" type="text" required style="width: 100%">
                        <option value="{{ registration }}" disabled selected hidden>-- Select Car --</option>
                        {% for car in carList %}
                            {% if not car.renter %}
                                <option value="{{ car.reg }}">{{ car.reg }} {{ car.color }} {{ car.make }} {{ car.model }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>

        </table>

        <input type="submit" name="OK" value="Confirm Edit">
    </form>

    <form method="post" action="/cars">
        <input type="submit" name="Cars" value="Cars">
    </form>

    <form method="post" action="/">
        <input type="submit" name="Cancel" value="Cancel">
    </form>

    </body>
    </html>
{% endblock %}