{% block returnCar %}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="{{ baseUrl }}/css/style.css"/>
        <link rel="icon" href="{{ baseUrl }}/favicon.ico">

        <title>Return Car</title>
    </head>
    <body>

    <h1>Return Car</h1>

    <form method="post" action="/carReturned"
          onsubmit="return confirm('Return this car?')">
        <table border="1px">

            <tr>
                <td>Cars Rented:</td>
                <td>
                    <select name="returnedCar" type="text" required style="width: 100%">
                        <option value="" disabled selected hidden>-- Select Car To Return --</option>
                        {% for car in carList %}
                            {% for customer in customerList %}
                                {% if car.renter == customer.SSN %}
                                    <option value="{{ car.reg }}|{{ customer.renter }}|{{ customer.rentStartTime }}">{{ car.reg }} {{ car.make }} - {{ customer.SSN }} {{ customer.customerName|raw }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </td>
            </tr>

        </table>

        <input type="submit" name="OK" value="Confirm Return">
    </form>

    <form method="post" action="/cars">
        <input type="submit" name="Cars" value="View All Cars">
    </form>

    <form method="post" action="/">
        <input type="submit" name="Cancel" value="Cancel">
    </form>

    </body>
    </html>
{% endblock %}